## Importacion de las librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

 ### Importar archivo excel o CSV

In [2]:
df_mision = pd.read_csv("mission_launches.csv")

### Exploracion inicial

In [3]:
df_mision.shape

(4324, 9)

In [24]:
df_mision.head(4324)

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.00,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.00,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.00,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00+00:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00+00:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [5]:
df_mision.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Organisation    4324 non-null   object
 3   Location        4324 non-null   object
 4   Date            4324 non-null   object
 5   Detail          4324 non-null   object
 6   Rocket_Status   4324 non-null   object
 7   Price           964 non-null    object
 8   Mission_Status  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

###  Eliminar columnas innecesarias

In [7]:
data = df_mision.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [25]:
data.head(4323)

,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.00,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.00,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.00,Success
...,...,...,...,...,...,...,...
4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05 18:27:00+00:00,Juno I | Explorer 2,StatusRetired,NaN,Failure
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00+00:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success

### Convertir la columna de fecha a datetime

In [10]:
data['Date'] = data['Date'].astype(str).str.replace(r'\s+\w+\s+UTC', '', regex=True)
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')

### Convertir la columna Price a numérico

In [12]:
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

### Verificar y contar valores faltantes

In [36]:
missing_price_count = data['Price'].isna().sum()
print(missing_price_count)

3375

## Análisis de datos:

### ¿Qué organización lanzó más misiones en un año determinado?

In [33]:
year = 2020  # se puede cambiar a cualquier año que se quiera analizar
org_year = data[data['Date'].dt.year == year]['Organisation'].value_counts()
print(org_year)

Organisation
CASC            19
SpaceX          14
Roscosmos        4
ULA              4
Arianespace      4
ExPace           3
Rocket Lab       3
VKS RF           3
Northrop         2
MHI              2
JAXA             1
IAI              1
Virgin Orbit     1
IRGC             1
ISA              1
Name: count, dtype: int64

### ¿Cuántos lanzamientos se realizaron por año?

In [15]:
launches_per_year = data['Date'].dt.year.value_counts()
print(launches_per_year)

Date
2018.0    117
1971.0    116
1975.0    112
1976.0    109
1977.0    109
         ...
2010.0     36
2012.0     34
1958.0     22
1959.0     20
1957.0      3
Name: count, Length: 64, dtype: int64

### ¿Cómo ha variado el costo de una misión espacial a lo largo del tiempo?

In [35]:
cost_variation = data.groupby(data['Date'].dt.year)['Price'].mean()
print(cost_variation)

Date
1957.0          NaN
1958.0          NaN
1959.0          NaN
1960.0          NaN
1961.0          NaN
            ...
2016.0    79.457344
2017.0    69.491061
2018.0    64.749773
2019.0    59.609726
2020.0    56.650192
Name: Price, Length: 64, dtype: float64

### ¿Qué meses son los más populares para los lanzamientos?

In [17]:
popular_months = data['Date'].dt.month.value_counts()
print(popular_months)

Date
12.0    430
6.0     386
10.0    375
4.0     366
8.0     358
9.0     354
3.0     349
7.0     347
11.0    325
2.0     323
5.0     320
1.0     265
Name: count, dtype: int64

### ¿Se han vuelto más seguras las misiones espaciales?

In [18]:
mission_safety = data.groupby(data['Date'].dt.year)['Mission_Status'].value_counts(normalize=True)
print(mission_safety)

Date    Mission_Status
1957.0  Success            0.666667
        Failure            0.333333
1958.0  Failure            0.636364
        Success            0.272727
        Partial Failure    0.090909
                             ...
2019.0  Success            0.934579
        Failure            0.046729
        Partial Failure    0.018692
2020.0  Success            0.904762
        Failure            0.095238
Name: proportion, Length: 175, dtype: float64